<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Insert title here</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<!-- JQuery -->
	<script src="/js/jquery-2.2.1.js"></script>


	<script>
			$(document).ready( function(){

				$('#btn_sair').click(function(){
					window.location.href = '/sair';
				});

			});
	</script>


</head>
<body class = "body-jogo">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="form-group sair">
				<button type="button" class="btn btn-info pull-right" id="btn_sair">Sair</button>
			</div>
		</div>
	</nav>
	
	


	<form action="/adicionaFrase/salvar" method="post">
		

			<div class="form-group">
				<label for="disabledTextInput">Frase em Inglês</label> <input
					type="text" id="frase_ingles" name = "frase_ingles" value = "<%=frase.frase_ingles%>" class="form-control"
					placeholder="fraseIngles"/>
			</div>
			

			<div class="form-group">
				<label for="disabledTextInput">Frase em Português</label> <input
					type="text" id="frase_portugues" name = "frase_portugues" value = "<%=frase.frase_portugues%>" class="form-control"
					placeholder="frasePortugues" />
			</div>
			
			<button type="submit" class="btn btn-primary">Adicionar</button>
			<a href = "/menu"><button type="button" class="btn btn-primary" id = "btn_voltar">Voltar</button></a>		
	</form>


	<br>

	<% if(validacao) { %>

		<ul>
			<% for(var i = 0; i < validacao.length; i++ ) { %>
				<li>
					<%= validacao[i].msg %>
				</li>
			<% }  %>
		</ul>

	<% }  %>
</body>
</html>

