<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Cadastrar</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	


		<script>
			$(document).ready(function(){
				
				$('#btn_voltar').click(function(){

					window.location.href = '/'	;
				});

			
			$(document).ready( function(){

				$('#btn_sair').click(function(){
					window.location.href = '/sair';
				});

			});	
				
			});
		</script>


	</head>

	<body class="body-index">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<button type="button" class="btn btn-info pull-right" id="btn_sair">Sair</button>
				</div>
			</div>
		</nav>
		

		
	    <div class="container">

			<% if(validacao.length > 0){ %>
				<div class="alert alert-danger">
					<strong>Atenção</strong>
					<ul>
						<% for(var i = 0; i < validacao.length; i++){ %>
							<li><%= validacao[i].msg %></li>
						<% } %>
					</ul>
				</div>
			<% } %>
	    		
			<form class="form-cadastro" action="/cadastrar" method="POST">
			
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="nome" class="col-sm-2 col-form-label">Nome</label>
							<input type="nome"  class="form-control" id="nome" name="nome" placeholder="Nome">
						</div>
					</div>
					
					<div class="col-xs-4">
						<div class="form-group">
							<label for="username" class="col-sm-2 col-form-label">Usuário</label>
							<input type="username" class="form-control" id="username" name="username" placeholder="Usuário">
						</div>
					</div>
					
					<div class="col-xs-4">
						<div class="form-group">
							<label for="senha" class="col-sm-2 col-form-label">Senha</label>
							<input type="password"  class="form-control" id="password" name="password" placeholder="Password">
						</div>
					</div>
				</div>
				
				
				
			
				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Confirmar cadastro</button>
					<button type="button" class="btn btn-success" id = "btn_voltar">Voltar</button>
				</div>
				
				
			</form>
					
	    </div>	
		
	</body>
</html>