<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
 <link href="/recordEnglish/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		
		<a href="/recordEnglish/adicionaFrase/"><button type="submit" class="btn btn-primary">Adicionar Frase</button></a>
		<a href="/recordEnglish/listaFrase/"><button type="submit" class="btn btn-primary">Listar Frases</button></a>	
		<a href="/recordEnglish/jogar/"><button type="submit" class="btn btn-primary">Jogar</button></a>	
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/recordEglish/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
		
	