<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
 <link href="/recordEnglish/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div id="fraseSelecionada">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Frase em inglês</th>
						
						
					</tr>
				</thead>
				<div>
				<tr th:each="frase : ${fraseSorteada}">
					<td><span th:text="${frase.fraseIngles}"></span></td>
					
				</tr>
				
				</div>
			</table>		
				<form action="comparar" method="post">
					<div class="form-group">
					<label for="disabledTextInput">Frase em Português</label> <input
						type="text" id="frasePortugues" name = "frasePortugues" class="form-control"
						placeholder="frasePortugues" required="required"/><span class="required">*</span>
					</div>
				
					<button type="submit" class="btn btn-primary">Adicionar</button>
					<a href="/recordEnglish/"><button type="submit" class="btn btn-primary">Voltar</button></a>
					</form>
				
			
			</div>
<!-- 		<a href="/recordEnglish/comparar"><button type="submit" class="btn btn-primary">Adicionar</button></a> -->
		

			<div>
				 <span th:text="${resposta}" />
			</div>

	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/recordEglish/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>