<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Record English</title>
 <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

	
	
			
			<div class = "row">
				<div class = "col-md-5 col-md-offset-3">
					<a href="/adicionaFrase"><button type="button" class="btn btn-primary btn-lg btn-block">Adicionar Frases</button></a>
				</div>
			</div>	

			<div class = "row">
				<div class = "col-md-5 col-md-offset-3">
					<a href="/jogar"><button type="button" class="btn btn-secondary btn-lg btn-block">Recordar Frases</button></a>
				</div>
			</div>
			
			
	
			<div class = "row">
				<div class = "col-md-5 col-md-offset-3">
					<a href="/listaFrase"><button type="button" class="btn btn-primary btn-lg btn-block">Lista Minhas Frases</button></a>
				</div>
			</div>


	
</body>
</html>

