<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Record English</title>
 <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

	
	


			
			<a href="/adicionaFrase"><button type="button" class="btn btn-primary">Adicionar Frases</button></a>
			<a href="/jogar"><button type="button" class="btn btn-primary">Jogar</button></a>		
	



	
</body>
</html>

